
#container-1 {
    width: 400px;
    max-width: 100%;
    position: relative;
    background-color: white;
}
.heading-content-1{
    width: 400px;
    max-width: 100%;
    position: relative;
    

}
.heading-content-1 button{
    position: absolute;
    right: 20%;
    bottom: 60%;
}

#container-2 {
    
    position: relative;
}

.heading-content-2 {
    display: flex;
    flex-direction: row;

}
.education{
    border: 1px solid black;
    background: #323b4c;
    height: 100vh;
    width: 20%;
    padding: 20px;
    color: whitesmoke;
    text-overflow: ellipsis;
    overflow: scroll;
    

}
.education::-webkit-scrollbar{
    width: 10px;
}

.education img{
    clip-path: circle(45%);
    background-color: black;
    border: 3%; 
    max-height: 300px;
    width: 80%;
    
    
}

.experience{
    background: rgba(94, 119, 221, 0.342);
    height: 100vh;
    width: 33%;
    padding: 20px;
    margin: 3px;
    overflow: scroll;
    text-overflow: ellipsis;
    scrollbar-width: thin;

}
.experience::-webkit-scrollbar{
    width: 10px;
}

.certificate{
    border: 1px;
    height: 100vh;
    width: 33%;
    padding: 20px;

}
footer{
    background: skyblue;
    height: 5%;
    text-align: center;
    font-size: 25px;
    position: relative;
}

    
    @media  all and (max-width: 400px) {
        img{
            height: 1vh;
        }
        
    }

    @media  all and (max-width: 300px){

        
    }
    @media  all and (min-height: 400px){}